.navigation {
    background-color: #fff;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.website-logo {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-list-item-link {
    text-decoration: none;
    font-size: 20px;
    color: #3a3a3a;
    padding-bottom: 16px;
}

.nav-icons-list {
    display: flex;
    gap: 28px;
    font-size: 20px;
    color: #3a3a3a;
}

.nav-icon-list-item-btn {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.fa-search,
.fa-user,
.fa-shopping-cart {
    color: #3a3a3a;
    cursor: pointer;
}

.fa-search:hover {
        color: #8860D0;
}

.fa-user:hover {
    color: #8860D0;
}

.fa-shopping-cart:hover {
    color: #8860D0;
}