/* General Rules and Configs */
.gaming-gear-details {
    background-color: #fff;
}

/* Images and BriefInfo section */
.gaming-gear-details-images-and-briefInfo-section {
    max-width: 80%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    gap: 34px;
    margin-bottom: 80px;
}

/* Product Images */
.gaming-gear-details-images-list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    max-width: 60%;
}

.gaming-gear-details-image-item {
    background-color: rgb(245 245 245);
    object-fit: contain;
    flex-grow: 1;
    width: 360px;
    height: 360px;
}

/* BriefInfo section text */

.playtime-anytime-span {
    font-weight: bold;
    font-size: 12px;
}

.gaming-gear-details-briefInfo-title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
    padding-bottom: 28px;
    border-bottom: 1px solid darkgray;
}

/* BriefInfo section pricing */

.gaming-gear-details-briefInfo-price-section-save {
    border: 1px solid rgb(255 142 60);
    color: rgb(255 142 60);
    border-radius: 12px;
    padding: 4px 12px;
    font-size: 12px;
}

.gaming-gear-details-briefInfo-payments {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 8px;
}

.gaming-gear-details-briefInfo-price-old-new {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.gaming-gear-details-briefInfo-price-new {
    font-weight: 600;
    font-size: 32px;
    padding: 0px;
}

.gaming-gear-details-briefInfo-price-old {
    padding-bottom: 6px;
    text-decoration: line-through;
    color: rgb(153 153 153);
    font-size: 18px;
}

.gaming-gear-details-briefInfo-monthly-payment {
    padding-bottom: 6px;
    font-size: 16px;
}

/* Status of shipment */

.gaming-gear-details-briefInfo-status-shipment {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid darkgray;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.gaming-gear-details-briefInfo-status {
    font-size: 16px;
    color: rgb(118 185 0);
    font-weight: 700;
}

.gaming-gear-details-briefInfo-shipment {
    font-size: 16px;
}

/* Product Specification table */

.gaming-gear-details-briefInfo-specifications,
.gaming-gear-details-detailed-specifications {
    margin-bottom: 20px;
}

.gaming-gear-details-briefInfo-specifications-title {
    font-size: 16px;
    margin-bottom: 14px;
}

.gaming-gear-details-briefInfo-specifications-table>div:nth-child(odd),
.gaming-gear-details-detailed-specifications-table>div:nth-child(odd) {
    background-color: rgb(236 236 236);
}

.gaming-gear-details-briefInfo-specifications-table-entry,
.gaming-gear-details-detailed-specifications-table-entry {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 10px;
    border-top: 1px solid lightgray;
}

.gaming-gear-details-briefInfo-specifications-table-entry-key,
.gaming-gear-details-detailed-specifications-table-entry-key {
    width: 35%;
    font-weight: 600;
}

.gaming-gear-details-briefInfo-specifications-table-entry-value,
.gaming-gear-details-detailed-specifications-table-entry-value {
    width: 80%;
}


.gaming-gear-details-briefInfo-specifications-table-entry-btn {
    border: none;
    color: rgb(36 116 255);
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
}

/* Quantity section */

.gaming-gear-details-briefInfo-quantity {
    margin-bottom: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.gaming-gear-details-briefInfo-quantity-count {
    border: 1px solid rgb(153 153 153);
    padding: 0px 16px;
    border-radius: 4px;
}

.fa-minus,
.fa-plus {
    cursor: pointer;
}

/* Add to cart btn */

.gaming-gear-details-briefInfo-add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: rgb(254 27 27);
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
}

.gaming-gear-details-briefInfo-add-to-cart-btn:hover {
    background-color: #be2119;
}

.gaming-gear-details-briefInfo-add-to-cart-btn-text {
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 600;
}

/* Detailed Specification Section */

.gaming-gear-details-detailed-specification {
    max-width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.gaming-gear-details-detailed-specification-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
}

.gaming-gear-details-detailed-specifications-table-entry-key {
    max-width: 12%;
}

.gaming-gear-details-detailed-specifications-table-entry-key {
    font-size: 16px;
}

.gaming-gear-details-detailed-specifications-table-entry-value {
    font-size: 16px;
}