.best-selling-gaming-pcs {
    width: 97%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 70px;
}

.best-selling-gaming-pcs-title {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.pc-list {
    display: flex;
    max-width: 88%;
    margin: auto;
}

.pc-list-item {
    border: 1px solid lightgrey;
    padding: 8px 14px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16), -5px -5px 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    margin: 8px 0px 10px 10px;
}

.pc-item-cover-img {
    max-width: 80%;
    height: fit-content;
    margin: auto;
    padding: 14px;
    cursor: pointer;
}

.pc-information {
    text-align: left;
}

.pc-information-title {
    font-size: 20px;
    font-weight: 700;
}

.pc-information-title:hover {
    color: rgb(254 27 27);
    cursor: pointer;
}

.pc-information-order-details {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 14px;
    font-size: 16px;
    gap: 4px;
}

.order-details {
    font-size: 15px;
}

.pc-information-save-price {
    color: rgb(255 142 60);
    font-weight: bold;
    border: 1px solid rgb(255 142 60);
    padding: 4px 6px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.pc-information-price {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pc-information-price {
    margin: 6px 0px 4px 0px;
}

.new-price {
    letter-spacing: 0.7px;
    font-size: 16px;
}

.old-price {
    text-decoration: line-through;
    color: rgb(153 153 153);
}

.pc-information-monthly-payment {
    margin-bottom: 10px;
}

.monthly-payment-amount {
    color: #2474ff;
}

.pc-information-buy-btn {
    padding: 6px 40px;
    border-radius: 20px;
    border: 1px solid rgb(254 27 27);
    color: rgb(254 27 27);
    cursor: pointer;
    font-size: 14px;
    background-color: #fff;
}

.pc-information-buy-btn:hover {
    transition: .3s;
    background-color: rgb(254 27 27);
    color: #fff;
}